header {
  background: blueviolet;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

footer {
  background: rgb(153, 153, 153);
  display: flex;
  justify-content: space-evenly;
}
