.header {
  font-family: Verdana;
  background: rgb(211, 174, 12);
  padding-top: 20px;
}
.numPag {
  font-family: Verdana;
  background: rgb(211, 174, 12);
  padding: 20px;
  margin: 0 auto;
}
.footer {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
section {
  justify-content: center;
  padding-top: 158px;
  padding-bottom: 265px;
}
.marco {
  text-align: center;
  padding-top: 20px;

  display: flex;
  justify-content: center;
  font-size: 20px;
}
.contenido {
  position: absolute;
  font-family: Georgia;
  max-width: 30rem;
  background-image: url("logos/libro.png");
  height: 675px;
  width: 100%;
  padding: 36px;
  padding-bottom: 40px;
  background-size: contain;
}

.sub {
  background: rgb(211, 218, 150);
  display: flex;
  flex-direction: column;
  /*height: 95%;*/
  justify-content: space-around;
}
.buton {
  text-decoration: wave;
  font-size: 32px;
  background-color: #60a3ca;
  border-radius: 15px;
}
.nameBox {
  right: 374px;

  position: relative;
  width: 330px;
  height: 200px;
  display: flex;
  background: rgb(54, 54, 54);
  color: aliceblue;

  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
}

.nombreJugador {
}
.nameBox2 {
  top: -200px;

  right: -520px;
  background: rgb(58, 207, 150);
  position: relative;
  font-size: 20px;
  font-family: Georgia;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 42px;

  margin-right: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.camiBox {
  top: -200px;
  right: -520px;
  background: rgb(205, 207, 58);
  position: relative;
  font-size: 20px;
  font-family: Georgia;

  gap: 10px;
  padding: 42px;

  margin-right: 100px;
  border-radius: 15px;

  word-wrap: break-word;
}
